doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width')
    title Space Lanches
     link(rel="stylesheet", href="/stylesheets/style.css")npm 
  body
    nav#menu
      ul
        li
          a(href='index.html') Página Inicial
        li
          a(href='about.html') Sobre Nós
    nav#container
      #about
        h2 Sobre Nós
        #body-about
          img(src='Lugar.jpg')
          p
            | A Space Lanches foi fundada em 2022 com a proposta de oferecer lanches rápidos e saborosos aos nossos clientes, tendo como nossa especialidade a dupla imbatível: Pastel e caldo de cana. Em meio àquela correria do dia a dia, você pode ter o seu momento de saborear as delicias da Space em um ambiente aconchegante, acolhedor e cordial, que te faz lembrar os bons tempos! Era aquela época que sentar-se à mesa para degustar um bom e tradicional lanche, passando ótimos momentos com a família!
        #body-about
          p
            | Passe bons momentos com seus amigos, ou com aquela pessoa especial em sua vida, na Lanchonete Space Lanches. Lanches, aperitivos, bebidas e refeições. Na Lanchonete Space Lanches, música ao vivo todos os finais de semana. Curta intensamente os seus momentos de folga, num ambiente agradável.Lanchonete Space Lanches. Rua do Comércio, em frente à praça da Matriz, aqui nesta cidade.
          img(src='Lanchonete2.jpg')
        #body-about
          img(src='Lanchonete.jpg')
          p
            | Aqui na Space Lanches tem promoção todo dia! Peça pelo Whatsapp: 0 0000 0000. Funcionamos todos os dias, das 18 horas à meia noite. Lanches, sorvetes, açaí e geladinho gourmet. Venha você também para Space. Peça pelo Whatsapp: 0 0000 0000. (Nome da loja), localizada na (Nome da rua) numero (00) em sua cidade.
        a(href='https://wa.me/+5582993654999')
          button Fale Conosco