sbody{
  /*background-color:#2FSF89;*/
  /*background-image:url("hackcdn.com/GaleriaImagem/130275/fotos-para-hamburguerias_fotografia-de-hamburguer-3.JPG");
  background-repeat: repeat-y;
  background-position:center;*/
  background-color: #5C4444;
  /*background-color: aqua;*/
}

p{
  color: #ffffff;
  font-size: 20px;
  text-align:center;
}

#item{
  display: flex;
  flex-direction:column;
  text-align:center;
  color:#fff;
  background-color:rgba(0,0,0, 0.85);
  margin: 10px;
  border-radius: 5px;
  padding:20px;
  } 
#menu ul{
  list-style: none;
}
#menu ul li{
  display:inline-block;
}

#menu ul li a{
  justify-content: center; 
  padding: 10px 75px;
  font-size:30px;
  background-color:rgba(0,0,0, 0.85);
  color:#ffffff;
  text-decoration:none;
  border:3px solid #5644;
  margin-left:120px;
  margin-right:120px;
  font-style:georgia;
  border-radius:5px;
  }

#menu ul li a:hover{
  background-color:#5C4444;
  color: #ffffff;
  border:3px solid #fff; 
}

#menu a{
  width: 100%;
}

#item{
  padding: 5px;
  width: 35%;
  height:20%;
} 

#item p{
  font-size: 14px;
}
#item button{
  background-color:#dc143c;
  padding: 10px;
  border-radius:5px;
  border:none;
  color: #ffffff;
  font-size:14px;
  font-weight:bold;
  cursor: pointer;
  
}
#item button:hover{
  background-color:#f77e4b; 
}

#cardapio img {
  margin: auto;
  width: 80%;
  height:80%;
}

#cardapio{
  display: flex;
  flex-direction:column;
  justify-content: center; 
  width: 105%;
  height:85%;
  font-size: small;
  }

  #cardapio a{
    text-decoration:none;
    color: white;
  }

#about{
  display: flex;
  flex-direction:column;
  text-align:center;
  color:#fff;
  background-color:rgba(0,0,0, 0.85);
  margin: 10px;
  border-radius: 5px;
  padding:20px;
  } 
#about h1{
  font-style: italic;
}
#about p{
  padding-top: 40px;
  padding-left:20px;
  padding-right:20px;
  font-size:18px;
  font-family:georgia;
  text-align:justify;
  font-style:italic;
} 

#body-about{
  display: flex;
  flex-direction:row;
}
#about button{
  background-color:#dc143c;
  padding: 15px;
  border-radius:5px;
  border:none;
  color: #ffffff;
  font-size:14px;
  font-weight:bold;
  cursor: pointer;
  padding-left: 100px;
  padding-right: 100px;
  
}
#about button:hover{
  background-color:#f77e4b; 
}