<<<<<<< HEAD
extends ../layout

block content
  p= msg
  form(action='create' method='POST')
    input(name='nome' value='' placeholder='Insira o novo produto para o seu cardápio')
    input(name='preco' value='' placeholder='Insira o preço do seu produto')
    input(type='submit')
=======
extends ../layout

block content
  p= msg
  form(action='create' method='POST')
    input(name='nome' value='' placeholder='Insira o novo produto para o seu cardápio')
    input(name='preco' value='' placeholder='Insira o preço do seu produto')
    input(type='submit')
>>>>>>> ea53228df1cc25b1cfa3c9baa20cab72a6e50471
